.pageContainer {
    display: flex;
    flex-direction: column;

    .loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #4F4F4F;
            padding: 72px 0px 32px;
        }

        .socialMediaIcons {
            display: flex;
            gap: 45px;

            .socialCont {
                display: flex;
                align-items: center;
                gap: 10px;

                .facebook {
                    border-radius: 20px;
                    background: #4267B2;
                    padding: 5px;
                }

                .google {
                    border-radius: 16px;
                    background: #DB4437;
                    padding: 5px;
                }
            }
        }

        .optionalText {
            color: var(--gray-gray-4, #BDBDBD);
            font-size: 14px;
            font-weight: 500;
        }


        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 90%;
            margin: auto;

            label {
                font-size: 14px;
            }

            input {
                border: none;
                border-radius: 8px;
                background: #F2F2F2;
                // width: 303px;
                // height: 48px;
                padding: 20px 0px 20px 20px;
                outline: none;
            }

            .alertMessage {
                font-size: 12px;
                color: red;
            }

            button {
                width: 100%;
                margin: auto;
                background-color: #2DD06E;
                border: none;
                padding: 16px 0px;
                border-radius: 8px;
                color: white;
                margin-bottom: 20px;
                cursor: pointer;
            }

            button:active {
                background-color: #22a355;
            }
        }

    }

    .staticLogin {
        display: flex;
        flex-direction: column;
        align-items: center;

        .backImage {
            display: none;
        }

        .link {
            color: #3366FF;
        }
    }

}



@media screen and (min-width: 600px) {

    .pageContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .loginContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .header {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                color: #4F4F4F;
                padding: 72px 0px 32px;
            }

            .socialMediaIcons {
                display: flex;
                gap: 45px;

                .socialCont {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .facebook {
                        border-radius: 20px;
                        background: #4267B2;
                        padding: 5px;
                    }

                    .google {
                        border-radius: 16px;
                        background: #DB4437;
                        padding: 5px;
                    }
                }
            }

            .optionalText {
                color: var(--gray-gray-4, #BDBDBD);
                font-size: 14px;
                font-weight: 500;
            }
        }

        .staticLogin {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding-top: 72px;

            .backImage {
                display: block;
            }

            .link {
                color: #3366FF;
            }
        }

    }
}