$telloColor: #2DD06E;
$mobileInputColor: #F7F9FC;
$placeholderColor: #828282;
$greenLineColor: #2CE59B;
$searchLiColor: #EDF1F7;
$desktopInputColor: #F2F2F2;
$newPriceColor: #DB2C66;
$linkColor: #3366FF;