.wrapper {
    background-color: #303030;
    color: white;
    padding-top: 45px;
    margin-top: 50px;


    .container {
        align-items: center;
        width: 90%;
        margin: auto;

        .infoCont {
            display: flex;
            flex-direction: column;
            align-items: center;


            .socialPages {
                display: flex;
                align-items: center;
                gap: 37px;
            }

            .menuPart {
                text-align: center;

                h3 {
                    padding: 40px 0px;
                }

                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .partHelp {
                text-align: center;

                h3 {
                    padding: 40px 0px;
                }

                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .contactPart {
                h3 {
                    text-align: center;
                    padding-top: 40px;
                }

                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }

            .rulesAndSecretPart {
                padding: 40px 0px;
                display: flex;
                gap: 80px;
            }
        }


    }

    .hr {
        opacity: .1;
        border: 1px solid #FFFFFF;
    }

    .copyrightPart {
        padding: 20px;

        .copyrightlogoAndparag {
            display: flex;
            justify-content: center;
            gap: 10px;

        }

        .rulesAndSecretPart {
            display: none;
        }
    }


}


@media screen and (min-width: 600px) {
    .wrapper {
        background-color: #303030;
        color: white;
        padding-top: 45px;
        margin-top: 0px;


        .container {
            width: 90%;
            margin: auto;
            padding-bottom: 50px;

            .infoCont {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                .logo {

                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .socialPages {
                        display: flex;
                        align-items: center;
                        gap: 37px;
                    }
                }


                .menuPart {
                    text-align: start;

                    h3 {
                        padding: 0px 0px;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .partHelp {
                    text-align: start;

                    h3 {
                        padding: 0px 0px;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .contactPart {
                    text-align: start;

                    h3 {
                        text-align: center;
                        padding-top: 0px;
                    }

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }

                .rulesAndSecretPart {
                    padding: 40px 0px;
                    display: flex;
                    gap: 80px;
                    display: none;
                }
            }


        }

        .hr {
            opacity: .1;
            border: 1px solid #FFFFFF;
        }

        .copyrightPart {
            width: 95%;
            margin: auto;
            padding: 20px;
            display: flex;
            justify-content: space-between;

            .copyrightlogoAndparag {
                display: flex;
                justify-content: center;
                gap: 10px;

            }

            .rulesAndSecretPart {
                display: flex;
                gap: 20px;
                width: 30%;

            }
        }


    }
}